.header-wrapper{
  margin-top: 5px;
  .header-container{
    padding:10px 12px;
    background-color: #e8f0fb40;
    .header-label{
      font-size:14px;
      margin-left: 20px;
      position: relative;
      &::before{
        content:"";
        position: absolute;
        top:0;
        left:-15px;
        width: 4px;
        height:14px;
        background-color: #155bd4;
      }
    }
  }
}