.schema-select{
  display:flex;
  padding:10px;
  .label-area{
    display:flex;
    align-items: center;
  }
  .select-area{
    display:flex;
    flex-wrap:wrap;
    .mode-select-item{
      padding:8px 12px;
      border:1px solid #dcdee0;
      font-size: 12px;
      font-weight: 500;
      &:hover{
        cursor:pointer;
        color: #155bd4;
        border-color: #155bd4;
        background-color: #e0edff;
      }
    }
    .select-item-active{
      cursor:pointer;
      color: #155bd4;
      border-color: #155bd4;
      background-color: #e0edff;
    }
  }
}

.flex-same-row{
  justify-content: space-between !important;
}
.flex-different-row{
  flex-direction: column;
}